body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: blue;
}

@media (pointer: none) {
  body, html {
    height: 90vh;
  }
}

canvas#bevy {
  display: none;
}

.playing canvas#bevy {
  display: block;
}

#presentation {
  display: block;
}

.playing #presentation {
  display: none;
}
