body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: blue;
}

@media (pointer: none) {
  body, html {
    height: 90vh;
  }
}

body.playing {
  user-select: none; /* prevent magnifying glass in ios */
  -webkit-user-select: none;
  overflow: hidden; /* prevent scroll */
}

canvas#bevy {
  display: none;
}

.playing canvas#bevy {
  display: block;
}

#presentation {
  display: block;
}

.playing #presentation {
  display: none;
}

/**
 * Based on https://github.com/topheman/bombs/blob/master/src/css/game.css
 */
#orientationlock {
  font-style: italic;
  font-weight: bold;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #333;
  color: #fff;
  font-size: 1.2em;
  padding: 1em;
  padding-top: 30vh;
  display: none;
  text-align: center;
  background-image: url(public/orientation-lock.png);
  background-repeat: no-repeat;
  background-position: 50% 70%;
}

@media screen and (orientation:landscape) {
  .is-mobile.playing #orientationlock {
      display: block;
  }
  .is-mobile.playing #bevy{
      display:none;
  }
}
@media screen and (orientation:portrait) {
  .is-mobile.playing #orientationlock {
      display: none;
  }
}
